.about {
  flex-direction: column;
  margin-top: 3rem;
}

.about-name {
  color: #03a9f4;
}

.about-role {
  margin-top: 1.2rem;
}

.about-desc {
  font-size: 1rem;
  max-width: 600px;
}

.about-desc,
.about-contact {
  margin-top: 2rem;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
}

.center {
  display: flex;
  align-items: center;
}
